{% extends "layout.html" %}
{%block container %}
{% import "_macros.html" as macros %}
    <form action="" method="POST" novalidate>
        <h3>Registrar palabras</h3>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(form.ingles, class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(form.espanol, class='form-control')}}
            </div>
        </div>
        <input type="submit" id="btn1" name="btn1" value="Registrar">
        <h3>Buscar palabras</h3>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(buscar_form.opciones_idiomas, class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(buscar_form.palabra, class='form-control')}}
            </div>
        </div>
        <input type="submit" id="btn2" name="btn2" value="Buscar">

        <h2>Traducción de {{palabra}}: {{traduccion}}</h2>

    </form>

{%endblock%}