{% extends "layout.html" %}

{% block content %}

<h1>Calcular</h1>
<form action="/resultado" method="POST">
    <label>N1:</label>
    <input type="text" name="n1"><br>
    <label>N2:</label>
    <input type="text" name="n2"><br>
    <input type="submit"><br>
    <input type="radio" name="operacion" value="suma"/><b> Sumar</b><br>
    <input type="radio" name="operacion" value="resta"/><b> Restar</b><br>
    <input type="radio" name="operacion" value="multiplicacion"/><b> Multiplicar</b><br>
    <input type="radio" name="operacion" value="division"/><b> Dividir</b><br>
  </form> 

{% endblock %}
